<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <title>My Resume</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div id="my-resume" class="resume">
        <div class="left">
            <h1>邱莉淩</h1>
            <h5>(Chiu Li-Lin)</h5>
            <h4>我的履歷</h4>
            <hr>
            <div class="block">
                <h4>Basic Information</h4>
                <h2>學歷</h2>
                <ul class="BI">
                    <li v-for='item in education'>{{item}}</li>
                </ul>
                <div class="block">
                    <h4>Contact Information</h4>
                    <h2>聯絡資料</h2>
                    <ul class="CI">
                        <li v-for="item in contact">{{item}}</li>
                    </ul>
                </div>
            </div>
            <div class="block">
                <h4>Application Skill</h4>
                <h2>應用技能</h2>
                <ul class="listProgram">
                    <li v-for="item in skill">{{item}}</li>
                </ul>
            </div>
        </div>
        <div class="right">
            <div class="decoration"></div>
            <div class="block">
                <h4>Self Introduction</h4>
                <h2>自我介紹</h2>
                <ul class="SI">
                    <li style="text-indent: 2em;line-height: 2">
                        
                </ul>
                <h4>Work Experience</h4>
                <h2>工作經歷</h2>
                <ul class="SI">
                    <li style="text-indent: 2em;line-height: 2">
                        
                </ul>
            </div>
            <div class="block">
                <h4>Works</h4>
                <h2></h2>
                <ul class="listExperience">
                    <li class="year">2018
                        <ul>
                            
                        </ul>
                    </li>
                    <li class="year">2019
                        <ul>
                            
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'>
    </script><script  src="./script.js"></script>
</body>

</html>