<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <title>My Resume</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div id="my-resume" class="container mt-3 p-3">
        <div class="row section">
            <div class="display-block b-line">
                <h1>邱莉淩</h1>
                <h5>(Chiu Li-Lin)</h5>
            </div>
            <div class="row display-block">
                <div class="display-inline">
                    <h4 v-for='item in education'>{{item}}</h4>
                </div>
                <div class="display-inline">
                    <h4 v-for="item in contact">{{item}}</h4>
                </div>
            </div>
        </div>

        <div class="row section">
            <div class="list-item">
                <h2>專題研究</h2>
                <div class="p-2" v-for="item in projects">
                    <h3>{{item.name}}</h3>
                    <template v-for="element in item.description">
                        <h4>{{element.topic}}</h4>
                        <h5>{{element.description}}</h5>
                    </template>
                </div>
            </div>
        </div>

        <div class="row section">
            <div class="list-item">
                <h2>實作經驗</h2>
                <div class="p-2" v-for="item in experiences">
                    <h3>{{item.field}}</h3>
                    <template v-for="element in item.skills">
                        <h4>{{element.name}}</h4>
                        <h5>{{element.description}}</h5>
                    </template>
                </div>
            </div>
        </div>

        <div class="row section">
            <div class="list-item">
                <h2>其他</h2>
                <div class="p-2">
                    <h3>競賽經歷</h3>
                    <h4 v-for="item in contest">{{item}}</h4>
                </div>

                <div class="p-2">
                    <h3>課外表現</h3>
                    <h4 v-for="item in other">{{item}}</h4>
                </div>
            </div>
        </div>

        <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script>
        <script src="./script.js"></script>
</body>

</html>